<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNBh_Rb8DdGgCVr0v-LQU2nyAsXzFxgSc</string>
	<key>GCM_SENDER_ID</key>
	<string>433681116759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullmoon.microhabit</string>
	<key>PROJECT_ID</key>
	<string>microhabit-3176e</string>
	<key>STORAGE_BUCKET</key>
	<string>microhabit-3176e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433681116759:ios:6e579c81a74fa9d3ac7d12</string>
</dict>
</plist>